/* ++++ style-file: src/root-app/styles.less [start] */

@import "~common/styles/index.less";

#root-app.theme-a {
  @import "./styles/app-styles-theme-a/init/index.less";

  .mixin-clearfix();
  background-color: @global-background-color;
  color: @global-text-color;
  font-family: @global-default-font;
  outline: solid blue 3px;
  .grids-demo {
    background:yellow;
  }

}


#root-app.theme-b {
  @import "./styles/app-styles-theme-b/init/index.less";

  .mixin-clearfix();
  background-color: @global-background-color;
  color: @global-text-color;
  font-family: @global-default-font;
  outline: solid blue 3px;
  .grids-demo {
    background:red;
  }

}
/* ++++ style-file: src/root-app/styles.less [end] */
